<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.infrastructure.persistent.dao.IUserCreditAccountDao">


    <update id="updateAddAmount" parameterType="com.project.infrastructure.persistent.po.UserCreditAccount">
        update user_credit_account set
                                       total_amount = total_amount + #{totalAmount},
                                       available_amount = available_amount + #{availableAmount}
        where user_id = #{userId}
    </update>

    <insert id="insert" parameterType="com.project.infrastructure.persistent.po.UserCreditAccount">
        insert into user_credit_account(
            user_id, total_amount, available_amount, account_status, create_time, update_time
        ) values (
                     #{userId}, #{totalAmount}, #{availableAmount}, #{accountStatus}, now(), now()
                 )
    </insert>
</mapper>